<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>GeoCode App</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" title="styles" type="text/css" />
    </head>
    <body class="avenir">
        <h1>{{title}}</h1>
        <form method="POST" action="/address" class="input-reset">
            <div class="fl w-50 pa3">
                <label for="street">Lat.</label>
                    <input type="text" name="lat" class="input-lat" placeholder="Ex: 34.12358" />
                <label for="city">Long.</label>
                    <input type="text" name="long" class="input-long"  placeholder="Ex: -104.32416" />
                <button id="btn-submit" class="br-pill ba bw2 h2 pa1 mv2">Submit</button>
            </div>
        </form>

        <script src="/static/client.js" type="text/javascript" charset="utf-8" async></script>
    </body>
</html>

