<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>GeoCode App</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" title="styles" type="text/css" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Enter two points and to get the distance between them.</p>
        <form method="POST" action="/distance" class="input-reset">
            <div class="fl w-50 ph5 ma5">
                <label for="street" class="fl">Lat.#1</label>
                    <input type="text" name="lat1" class="mt3 input-lat" placeholder="Ex: 34.12358" />
                <label for="city" class="fl">Long. #1</label>
                    <input type="text" name="long1" class="mt3 input-long"  placeholder="Ex: -104.32416" />
                <label for="street" class="fl">Lat.#2</label>
                    <input type="text" name="lat2" class="mt3 input-lat" placeholder="Ex: 36.12358" />
                <label for="city" class="fl">Long. #2</label>
                    <input type="text" name="long2" class="mt3 input-long"  placeholder="Ex: -114.34124" />
                <button id="btn-submit" class="br-pill ba bw2 h2 pa1 mv2">Submit</button>
            </div>
        </form>

        <script src="/static/client.js" type="text/javascript" charset="utf-8" async></script>
    </body>
</html>

